In [35]:
import pandas as pd

In [36]:
file = "results_parsed_3.csv"

In [37]:
df = pd.read_csv(file)

In [38]:
df

,Unnamed: 0,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Full_Address,location,point,lat,long
0,0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,NaN,"1803 Westview Ave, Danville Illinois","1803, Westview Avenue, Danville, Vermilion Cou...","(40.1555301092308, -87.61471508589744, 0.0)",40.155530,-87.614715
1,1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,NaN,"50 Henrietta Ave, Buffalo New York","50, Henrietta Avenue, Buffalo, Erie County, Ne...","(42.9563206122449, -78.89934789795919, 0.0)",42.956321,-78.899348
2,2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,NaN,"800 Allacante Dr, Ceres California","800, Allacante Drive, Ceres, Stanislaus County...","(37.590897, -120.981631, 0.0)",37.590897,-120.981631
3,3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,NaN,"1900 Vernon Ave, Modesto California","1900, Vernon Avenue, West Modesto, Modesto, St...","(37.614474926174495, -121.02792171140939, 0.0)",37.614475,-121.027922
4,4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,NaN,"500 Smart St, Houston Texas","Smart Living at Cypress Creek, Houston, Harris...","(29.95991275, -95.56226793134292, 0.0)",29.959913,-95.562268
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1546,518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN,"10525 NW 24th Ave, Miami Florida","10525, Northwest 24th Avenue, West Little Rive...","(25.8712413, -80.2382308, 0.0)",25.871241,-80.238231
1547,519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN,"2637 S Walker St, Sioux City Iowa","2637, South Walker Street, Sioux City, Woodbur...","(42.462977157894734, -96.33166884210527, 0.0)",42.462977,-96.331669
1548,520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN,"3211 Towson Ave, Fort Smith Arkansas","3211, Towson Avenue, Mill Creek, Fort Smith, S...","(35.353577265822786, -94.42203451898735, 0.0)",35.353577,-94.422035
1549,521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN,"2650 Dumas Dr, Amarillo Texas","2650, Dumas Drive, Amarillo, Potter County, Te...","(35.24087693805399, -101.83087625516222, 0.0)",35.240877,-101.830876
1550,522,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,NaN,"1000 Monroe St, Galesburg Illinois","1000, Monroe Street, Galesburg, Knox County, I...","(40.95933, -90.381831, 0.0)",40.959330,-90.381831

In [39]:
df = df.drop(['Operations', 'Unnamed: 0', 'location', 'point'], axis=1)
df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Full_Address,lat,long
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,"1803 Westview Ave, Danville Illinois",40.155530,-87.614715
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,"50 Henrietta Ave, Buffalo New York",42.956321,-78.899348
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,"800 Allacante Dr, Ceres California",37.590897,-120.981631
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,"1900 Vernon Ave, Modesto California",37.614475,-121.027922
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,"500 Smart St, Houston Texas",29.959913,-95.562268
...,...,...,...,...,...,...,...,...,...,...
1546,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,"10525 NW 24th Ave, Miami Florida",25.871241,-80.238231
1547,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,"2637 S Walker St, Sioux City Iowa",42.462977,-96.331669
1548,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,"3211 Towson Ave, Fort Smith Arkansas",35.353577,-94.422035
1549,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,"2650 Dumas Dr, Amarillo Texas",35.240877,-101.830876
1550,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,"1000 Monroe St, Galesburg Illinois",40.959330,-90.381831

In [40]:
dropped_df = df.dropna(how='any')

In [41]:
dropped_df

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Full_Address,lat,long
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,"1803 Westview Ave, Danville Illinois",40.155530,-87.614715
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,"50 Henrietta Ave, Buffalo New York",42.956321,-78.899348
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,"800 Allacante Dr, Ceres California",37.590897,-120.981631
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,"1900 Vernon Ave, Modesto California",37.614475,-121.027922
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,"500 Smart St, Houston Texas",29.959913,-95.562268
...,...,...,...,...,...,...,...,...,...,...
1546,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,"10525 NW 24th Ave, Miami Florida",25.871241,-80.238231
1547,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,"2637 S Walker St, Sioux City Iowa",42.462977,-96.331669
1548,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,"3211 Towson Ave, Fort Smith Arkansas",35.353577,-94.422035
1549,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,"2650 Dumas Dr, Amarillo Texas",35.240877,-101.830876
1550,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,"1000 Monroe St, Galesburg Illinois",40.959330,-90.381831

In [43]:
dropped_df.to_csv("cleaned.csv")