In [41]:
import pandas as pd

In [42]:
file1 = "mass_shooting_2019.csv"
file2 = "mass_shooting_2020.csv"
file3 = "mass_shooting_2021.csv"

In [43]:
df_2019 = pd.read_csv(file1)
df_2020 = pd.read_csv(file2)
df_2021 = pd.read_csv(file3)

In [44]:
df_2019

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1582816,"December 29, 2019",Illinois,Danville,1803 block of Westview Ave,0,5,NaN
1,1582197,"December 29, 2019",New York,Buffalo,50 block of Henrietta Ave,1,3,NaN
2,1583444,"December 29, 2019",California,Ceres,800 block of Allacante Dr,0,5,NaN
3,1581590,"December 27, 2019",California,Modesto,1900 block of Vernon Ave,1,3,NaN
4,1581103,"December 27, 2019",Texas,Houston,500 block of Smart St,2,7,NaN
...,...,...,...,...,...,...,...,...
412,1293054,"January 4, 2019",California,Torrance,22501 Hawthorne Blvd,3,4,NaN
413,1292941,"January 3, 2019",Arizona,Yuma,3800 block of E County 18½ St,1,3,NaN
414,1291779,"January 2, 2019",Arkansas,Jonesboro,3516 Galaxy St,1,3,NaN
415,1289877,"January 1, 2019",South Carolina,Columbia,1709 Decker Blvd,0,5,NaN
416,1289618,"January 1, 2019",Florida,Tallahassee,2020 W Pensacola St,0,5,NaN

In [45]:
df_2020

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1891461,"December 31, 2020",Indiana,Indianapolis,8215 Center Run Road,1,3,NaN
1,1890946,"December 31, 2020",Oregon,Happy Valley,9200 block of SE Idleman Rd,0,4,NaN
2,1886974,"December 26, 2020",Illinois,Rockford,4007 E State St,3,3,NaN
3,1886913,"December 26, 2020",Florida,Tampa,N 20th St and E 7th Ave,2,2,NaN
4,1887059,"December 26, 2020",Massachusetts,Lynn,Washington St and Quincy Ter,1,5,NaN
...,...,...,...,...,...,...,...,...
606,1588308,"January 4, 2020",Florida,Ocala,800 block of NW 6th Ter,1,3,NaN
607,1586839,"January 2, 2020",New York,Brooklyn,6120 3rd Ave,0,4,NaN
608,1585746,"January 1, 2020",Ohio,Cleveland,1437 St Clair Ave NE,0,4,NaN
609,1585394,"January 1, 2020",West Virginia,Huntington,1113 4th Ave,0,7,NaN
610,1585894,"January 1, 2020",Missouri,Saint Louis,3000 block of S Jefferson Ave,3,2,NaN

In [46]:
df_2021

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,2125953,"September 26, 2021",California,Oakland,1400 block of 8th Ave,0,4,NaN
1,2125790,"September 26, 2021",Illinois,Chicago,800 block of S Albany Ave,0,0,NaN
2,2125613,"September 25, 2021",New York,Utica,800 block of Mohawk St,0,4,NaN
3,2125227,"September 25, 2021",California,Riverside,6000 Block of Mariposa Ave,0,6,NaN
4,2125444,"September 25, 2021",Tennessee,Athens,Co Rd 60,4,0,NaN
...,...,...,...,...,...,...,...,...
518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN
519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN
520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN
521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN
522,1891720,"January 1, 2021",Illinois,Galesburg,1000 block of Monroe St,0,4,NaN

In [47]:
frames = [df_2019, df_2020, df_2021]

result = pd.concat(frames)

In [48]:
result

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations
0,1582816,"December 29, 2019",Illinois,Danville,1803 block of Westview Ave,0,5,NaN
1,1582197,"December 29, 2019",New York,Buffalo,50 block of Henrietta Ave,1,3,NaN
2,1583444,"December 29, 2019",California,Ceres,800 block of Allacante Dr,0,5,NaN
3,1581590,"December 27, 2019",California,Modesto,1900 block of Vernon Ave,1,3,NaN
4,1581103,"December 27, 2019",Texas,Houston,500 block of Smart St,2,7,NaN
...,...,...,...,...,...,...,...,...
518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN
519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN
520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN
521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN
522,1891720,"January 1, 2021",Illinois,Galesburg,1000 block of Monroe St,0,4,NaN

In [49]:
result['Address'] = result['Address'].str.replace("block of", '')

In [50]:
result["Full_Address"] = result['Address'] + ', ' + result['City Or County'] + ' ' + result['State']

In [52]:
result

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Full_Address
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,NaN,"1803 Westview Ave, Danville Illinois"
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,NaN,"50 Henrietta Ave, Buffalo New York"
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,NaN,"800 Allacante Dr, Ceres California"
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,NaN,"1900 Vernon Ave, Modesto California"
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,NaN,"500 Smart St, Houston Texas"
...,...,...,...,...,...,...,...,...,...
518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN,"10525 NW 24th Ave, Miami Florida"
519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN,"2637 S Walker St, Sioux City Iowa"
520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN,"3211 Towson Ave, Fort Smith Arkansas"
521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN,"2650 Dumas Dr, Amarillo Texas"
522,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,NaN,"1000 Monroe St, Galesburg Illinois"

In [58]:
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim

locator = Nominatim(user_agent="myGeocoder")

In [59]:
# 1 - conveneint function to delay between geocoding calls

geocode = RateLimiter(locator.geocode, min_delay_seconds=1)
geocode = locator.geocode

# 2- - create location column
result['location'] = result['Full_Address'].apply(geocode)

# 3 - create longitude, laatitude and altitude from location column (returns tuple)
result['lat'] = result['location'].apply(lambda loc: loc.latitude if loc else None)
result['long'] = result['location'].apply(lambda loc: loc.longitude if loc else None)

In [60]:
result

,Incident ID,Incident Date,State,City Or County,Address,# Killed,# Injured,Operations,Full_Address,location,point,lat,long
0,1582816,"December 29, 2019",Illinois,Danville,1803 Westview Ave,0,5,NaN,"1803 Westview Ave, Danville Illinois","(1803, Westview Avenue, Danville, Vermilion Co...","(40.1555301092308, -87.61471508589744, 0.0)",40.155530,-87.614715
1,1582197,"December 29, 2019",New York,Buffalo,50 Henrietta Ave,1,3,NaN,"50 Henrietta Ave, Buffalo New York","(50, Henrietta Avenue, Buffalo, Erie County, N...","(42.9563206122449, -78.89934789795919, 0.0)",42.956321,-78.899348
2,1583444,"December 29, 2019",California,Ceres,800 Allacante Dr,0,5,NaN,"800 Allacante Dr, Ceres California","(800, Allacante Drive, Ceres, Stanislaus Count...","(37.590897, -120.981631, 0.0)",37.590897,-120.981631
3,1581590,"December 27, 2019",California,Modesto,1900 Vernon Ave,1,3,NaN,"1900 Vernon Ave, Modesto California","(1900, Vernon Avenue, West Modesto, Modesto, S...","(37.614474926174495, -121.02792171140939, 0.0)",37.614475,-121.027922
4,1581103,"December 27, 2019",Texas,Houston,500 Smart St,2,7,NaN,"500 Smart St, Houston Texas","(Smart Living at Cypress Creek, Houston, Harri...","(29.95991275, -95.56226793134292, 0.0)",29.959913,-95.562268
...,...,...,...,...,...,...,...,...,...,...,...,...,...
518,1893744,"January 3, 2021",Florida,Miami,10525 NW 24th Ave,0,8,NaN,"10525 NW 24th Ave, Miami Florida","(10525, Northwest 24th Avenue, West Little Riv...","(25.8712413, -80.2382308, 0.0)",25.871241,-80.238231
519,1892114,"January 1, 2021",Iowa,Sioux City,2637 S Walker St,1,4,NaN,"2637 S Walker St, Sioux City Iowa","(2637, South Walker Street, Sioux City, Woodbu...","(42.462977157894734, -96.33166884210527, 0.0)",42.462977,-96.331669
520,1892034,"January 1, 2021",Arkansas,Fort Smith,3211 Towson Ave,0,7,NaN,"3211 Towson Ave, Fort Smith Arkansas","(3211, Towson Avenue, Mill Creek, Fort Smith, ...","(35.353577265822786, -94.42203451898735, 0.0)",35.353577,-94.422035
521,1892704,"January 1, 2021",Texas,Amarillo,2650 Dumas Dr,1,3,NaN,"2650 Dumas Dr, Amarillo Texas","(2650, Dumas Drive, Amarillo, Potter County, T...","(35.24087693805399, -101.83087625516222, 0.0)",35.240877,-101.830876
522,1891720,"January 1, 2021",Illinois,Galesburg,1000 Monroe St,0,4,NaN,"1000 Monroe St, Galesburg Illinois","(1000, Monroe Street, Galesburg, Knox County, ...","(40.95933, -90.381831, 0.0)",40.959330,-90.381831

In [62]:
result.to_csv("results_parsed_3.csv")

In [65]:
def find_location(row):
    
    place = row['Full_Address']
    
    location = locator.geocode(place)
    
    if location != None:
        return location.latitude, location.longitude
    else:
        return "Not Found", "Not Found"

In [66]:
result[['lat', 'long']] = result.apply(find_location, axis="columns", result_type="expand")

In [67]:
result.to_csv("results_parsed_4.csv")